*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
p{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
hr{
    margin-top: 2%;
    margin-left: 48%;
    margin-bottom: 2%;
    width: 55px;
    height: 4px;
}
h2{
    padding-top: 8%;
    text-align: center;
    font-size: 33px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
}
button{
    border-radius: 30px;
    margin-left: 44.5%;
    margin-top: 3%;
    width: 170px;
    height: 60px;
    font-family:'Merriweather Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    transition: 0.2s;
}
.navbar{
    padding-top: 2%;
    width: 100%;
    height: 80px;
    position: fixed;
}
h3{
    display: inline-block;
    margin-left: 11%;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    color:  #dee2e6;
}
ul{
    float: right;
    margin-right: 10%;
    margin-top: 5px;
}
li{
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 15px;
    color:  #dee2e6;
    transition: 0.2s;
}
a:hover{
    color:#fff;
}
.header{
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%),  url(../images/bg-masthead.jpg); */
    background: url(../images/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;
}
.header h1{
    text-align: center;
    font-size: 55px;
    font-family:'Merriweather Sans', sans-serif;
    font-weight: 500;
    padding-top: 13%;
    color: #fff;
}
.header hr{
    background-color: #f4623a;
}
.header p{
    text-align: center;
    color: #dee2e6;
    font-size: 19px;
}
.header button a{
    color: #fff;
}
.header button{
    background-color: #f4623a;
}
.header button:hover{
    background-color:#c55130;
}
.about{
    width: 100%;
    height: 500px;
    background-color: #f4623a;
}
.about h2{
    color: #fff;
}
.about hr{
    background-color: #fff;
}
.about p{
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}
.about button{
    background-color: #fff;
}
.about button a{
    color: #000;
}
.services h2{
    color: #212529;
}
.services hr{
    background-color: #f4623a;
}
.box{
    margin-top: 3%;
    margin-left: 9%;
    display: inline-block;
    width: 14%;
    text-align: center;
    padding-bottom: 8%;
}
.box i{
    margin-bottom: 10px;
    font-size: 50px;
    color: #f4623a;
}
.box h4{
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 500;
    color: #212529;
}
.box p{
    padding-top: 5%;
    word-spacing: 3px;
    font-size: 16px;
    color: #6c757d;
}
.portfolio{
    background-color: #212529;
    width: 100%;
    height: 850px;
    padding-left: 0.25%;
    padding-right: 0.25%;
}
.portfolio button{
    background-color: #fff;
}
.portfolio button a{
    color: #000;
}
.portfolio img{
    width: 33.1%;

}
.portfolio h2{
    color: #fff;
}
.contact h2{
    color: #212529;
}
.contact hr{
    background-color: #f4623a;
}
.contact p{
    text-align: center;
    color: #6c757d;
    font-size: 17px;
}
form{
    width: 450px;
    margin-top: 2%;
    font-size: 60px;
    margin-left: 33%;
}
input{
    width: 450px;
    padding: 18px 12px;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    border: 0.001px solid #6c757d;
    border-radius: 5px;
}
textarea{
    margin-top: 30px;
    width: 450px;
    max-width: 450px;
    padding: 18px 12px;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    border: 0.001px solid #6c757d;
    border-radius: 5px;
}
.contact button{
    margin-left: 33%;
    width: 450px;
    background-color: #f4623a;
    color: #fff;
    margin-bottom: 4%;
}
.contact i{
    margin-left: 48%;
    font-size: 45px;
    color: #6c757d;
    padding-bottom: 1%;
}
.contact .phone p{
    font-size: 16px;
    color: #000;
    padding-bottom: 8%;
}
.end{
    width: 100%;
    height: 100px;
    background-color: #f8f9fa;
}
.end p{
    padding-top: 3%;
    text-align: center;
    color: #6c757d;
}
